
.top-line{
    display: inline; 
    color: white;  
   padding-right: 10px;
}
.center {
    text-align: center;
      
}    
.first-page{
    background-image: url(Images/Bremen2.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#my-name {
    
    font-size: 100px;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
}
.love{
    color: white;
    font-size: large;
    display: inline;
}
.fullstack{
    color: yellow;
    font-size: larger;
}
.linked-in{
    width: 35px;
    height: 35px; 
    padding-right: 5px;
       
}
    
.git-link{
margin-top: 35px ;
;
}
.linked-in:hover{
    
    transform: scale(1.22);    
}